div{
  display: flex;
  justify-content: center;
}
p {
  color: transparent;
  font-family:"Courier New";
  font-size: 100px;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

p:hover{
  transition: 1.5s all;
  cursor: pointer;
  color:black;
  font-family: "Courier New";
  word-wrap: break-word;
}
